{{ form_start(form) }}
{{ form_row(form.content, {label:'Testimony'}) }}
{{ form_row(form.name, {label:'Couple\'s names'}) }}
{{ form_row(form.location) }}
{{ form_row(form.weddingDate) }}
<div class="mb-3 row">
    {{ form_label(form.imageFile) }}
    <div class="col-sm-10">
        {{ form_widget(form.imageFile) }}
        {% if testimonial.image %}
            <img width="120" height="120" src="{{ vich_uploader_asset(testimonial, 'imageFile') }}"
                 alt="{{ testimonial.name }}"/>
        {% else %}
            <img width="120" height="120" src="{{ asset('/images/no-testimonial-image.png') }}"
                 alt="{{ testimonial.name }}"/>
        {% endif %}
    </div>
</div>
{{ form_row(form.position) }}
{{ form_row(form.isActive) }}
{% embed 'backend/_common/submitButtonGroup.html.twig' %}
    {% block buttons %}
        <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
    {% endblock %}
{% endembed %}
{{ form_end(form) }}
