<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Mayela Miridis{% if page_title is defined %} - {{ page_title }}{% endif %}{% endblock %}</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>

    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}


{#    {% javascripts#}
{#    'assets/vendor/jquery/dist/jquery.min.js'#}
{#    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js' %}#}
{#    <script src="{{ asset_url }}"></script>#}
{#    {% endjavascripts %}#}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</head>

<body>

<div class="wrap">

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><img src="{{ asset('images/header-mayela-miridis.png') }}" style="margin: 0 auto; max-width: 100%;"></div>
            </div>
        </div>
        <div class="motto-bar">
            <div>
                <div class="container">
                    <div class="col-sm-12">{{ include('backend/_menu.html.twig') }}</div>
                </div>
            </div>
        </div>
    </header>

    <div class="content" style="padding-top: 20px;">
        <div class="container">
            <div class="body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer container">
        <div class="row">
            <div class="col-xs-8 copyright">
                &copy; COPYRIGHT 2022, e-Solutions S.C.
            </div>
            <div class="col-xs-4 text-right">
                <div class="row">
                    <div class="col-xs-10">&nbsp;</div>
                    <div class="col-xs-1 button text-right">
                        <a title="Skype" href="" class="social-button skype">&nbsp;</a>
                    </div>
                    <div class="col-xs-1 button text-right">
                        <a title="Email"  class="social-button email" href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#121;&#101;&#108;&#97;&#64;&#109;&#105;&#114;&#105;&#100;&#105;&#115;&#46;&#99;&#111;&#109;'>&#109;&#97;&#121;&#101;&#108;&#97;&#64;&#109;&#105;&#114;&#105;&#100;&#105;&#115;&#46;&#99;&#111;&#109;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
