{% extends 'backend.html.twig' %}

{% set page_title = 'Picture details #' ~ picture.id %}

{% block body %}

    {% embed 'backend/_common/headerButtonGroup.html.twig' %}
        {% block buttons %}
            {{ include('backend/_common/listButton.html.twig', {route: 'backend_picture_index', label:'list', title:'Pictures list'}) }}
            {{ include('backend/_common/editButton.html.twig', {route: 'backend_picture_edit', id: picture.id, label:'edit', title:'Edit picture'}) }}
        {% endblock %}
    {% endembed %}

    <h1>{{ page_title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ picture.id }}</td>
        </tr>
        <tr>
            <th>Caption</th>
            <td>{{ picture.caption }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ picture.description }}</td>
        </tr>
        <tr>
            <th>Original name</th>
            <td>{{ picture.image|unrename }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ picture.position }}</td>
        </tr>
        <tr>
            <th>IsActive</th>
            <td>{{ picture.isActive ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ picture.created ? picture.created|date('D, d M Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ picture.updated ? picture.updated|date('D, d M Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DeletedAt</th>
            <td>{{ picture.deletedAt ? picture.deletedAt|date('D, d M Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>
                <div style="font-size: .9em">
                    <p style="margin: 2px;">file name: {{ exif_data.filename }}</p>
                    <p style="margin: 2px;">file type: {{ exif_data.filetype }}</p>
                    <p style="margin: 2px;">size: {{ exif_data.width }} x {{ exif_data.height }} (w x h)</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}"
                     alt="{{ picture.caption }}"/>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
